---
import '../styles/global.css'
---
<div class="prose max-w-none">
    <aside class="mb-6">
        <slot name="toc" />
    </aside>
    <article class="prose max-w-none">
        <slot />
    </article>
</div>